*{
    background-color: #313866;
    color: #B2BEB5;
}
.score{
    text-align: center;
}

img{
    height: 200px;
    width: 200px;
}

.computer{
    text-align: center;
    width:49%;
    float:left;
    height: 400px;
}

.user{
    text-align: center;
    width: 50%;
    float:left;
    height: 400px;
}

.user-display{
    width: 85%;
    float:left;
}

.user-choice{
    margin-top: 80px;
    width: 10%;
    float:left;
    display: flex;
    flex-direction: column;
}

.user-choice > button{
    width: 90px;
    padding: 15px;
    border-radius: 12px;
    align-items: center;
    cursor: pointer;
    border: solid #B2BEB5 1px;
}

.result{
    text-align: center;
}